* {
 margin: 0 ;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}


.button {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}

/* Utilities */
.fixed {
  position: fixed;
  top: 0 ;
  left: 0;
}


.flex {
  display:flex ;
}


.wrap {
  flex-wrap: wrap ;
}


.l-s-none {
  list-style: none;
}


.center {
  align-items: center;
  justify-content: center;
}

.w-90-auto {
  width: 90%;
  margin: 0 auto;
}

.margin-top-200 {
  margin-top: 200px;
}


/* Header */
header{
  background-color: white;
  width: 100%;
  min-width: 60%;
  height: 60px;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;

}
.menu-left,
.menu-right {
  height: 40px;
  align-items: center;
}



header ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
}


.inizia-button {
  color: white;
  background-color: #0161FF;
}


/* /Header */


/* Jumbotron */

.jumbotron{
  margin-top: 60px;
  padding-top: 50px;
  height: 550px;
  background-color: #B4D0E7;
}

.title-jumbo{
  font-size: 40px;
  margin-bottom: 50px;
}


.text-jumbo{
  width: 30%;
  margin-right: 10%;
}

.img-jumbo {
  width: 70%;
}

.img-jumbo img {
  height: 460px;
}


.vai-a-prezzi {
  margin: 10px 0;
  font-size: 30px;
}

.free-try-button {
  display: inline-block;
  margin: 10px auto;
  background-color: #0161FF;
}


.free-try-button a {
  text-decoration: none;
  padding: 10px 5px;
  color: white;
}

/* /Jumbotron */


/* section prices */


.container-prezzi {
  width: 80%;
  margin: 0 auto;
}

 h1{
  font-size: 40px;
}

.container-col {
  display: flex;
  justify-content: space-between;
}

.col-professional {
  width: calc(95% / 3);
  height: 1000px;
  
  border: 1px solid grey;
} 

.col-professional div:not(.target-tariffa) {
  margin: 40px 20px;
}


.button-prova-gratis {
  
  padding: 5px 10%;
  background-color: #0161FF;
  color: white;
  
  
}

.target-tariffa {
  height: 30px;
  text-align: center;
  margin-top: 10px;
  padding: 0;
  border-bottom: 1px solid grey;
}

.period {
  display: block;
  color: gray;
}


.hr-col {
  margin: 30px 0;
  width: 20%;
}

/* /section prices */

